<div class="container-fluid">
   <br>
   <br>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <h4 class="text-danger text-muted">Welcome</h4>
                </div>
                <div class="mb-3">
                    <p class="text-muted">Link has sent on your registered email. Please varify it.</p>
                </div>
            </form>
            <button type="button" class="btn btn-secondary" >Next</button>
          
        </div>
      </div>
    
  </div>




