<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="../../../../assets/4.jpg" class="d-block w-100 c-img" alt="Slide 1">
      <div class="carousel-caption top-0 mt-4">
        <p class="mt-5 fs-3 text-uppercase">Donate Blood, Create Miracles</p>
        <h1 class="display-1 fw-bolder text-capitalize">Raktha</h1>
        <button class="btn btn-primary px-4 py-2 fs-5 mt-5 gap"[routerLink]="['/login']" >Login</button>
        <button class="btn btn-primary px-4 py-2 fs-5 mt-5 gap"[routerLink]="['/singin']" >Register</button>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="../../../../assets/1.jpg" class="d-block w-100 c-img" alt="Slide 2">
      <div class="carousel-caption top-0 mt-4">
        <p class="text-uppercase fs-3 mt-5">Be the Drop that Fills a Life</p>
        <p class="display-1 fw-bolder text-capitalize">Raktha</p>
        <button class="btn btn-primary px-4 py-2 fs-5 mt-5 gap" data-bs-toggle="modal"
          data-bs-target="#booking-modal" [routerLink]="['/login']" >Login</button>
        <button class="btn btn-primary px-4 py-2 fs-5 mt-5 gap" data-bs-toggle="modal"
          data-bs-target="#booking-modal" [routerLink]="['/register']" >Register</button>  
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="../../../../assets/2.jpg" class="d-block w-100 c-img" alt="Slide 3">
      <div class="carousel-caption top-0 mt-4">
        <p class="text-uppercase fs-3 mt-5">One Drop, Endless Hope</p>
        <p class="display-1 fw-bolder text-capitalize">Raktha</p>
        <button class="btn btn-primary px-4 py-2 fs-5 mt-5 gap" data-bs-toggle="modal"
          data-bs-target="#booking-modal" [routerLink]="['/login']" >Login</button>
          <button class="btn btn-primary px-4 py-2 fs-5 mt-5 gap" data-bs-toggle="modal"
          data-bs-target="#booking-modal" [routerLink]="['/register']" >Register</button>  
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>