<app-nav></app-nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
<div id = "home"><app-carousel></app-carousel></div>

<div id = "goal" class="c-item1"  >
    <div class="image-container">
          <img src="../../../assets/3.jpg" class="img-thumbnail c-img1" alt="Example Image">
          <div class="overlay-text">Our goal</div>
    </div>
      
</div>

<div id = "about" class="c-item2">   
    <div class="image-container">
        <img src="../../../assets/5.jpg" class="img-thumbnail c-img1" alt="Example Image">
        <div class="overlay-text">About us</div>
  </div>
</div>



<app-footer></app-footer>